:root {
    --black: black;
    --white: white;
  
    --darkest: #2E3440;
    --darker: #3B4252;
    --less-dark: #434C5E;
    --least-dark: #6a7896;
  
    --least-light: #aab0b9;
    --light: #e5e9f0;
  
    --red: #BF616A;
  
    --color-background: var(--white);
    --color-font: var(--darkest);
    --color-line-list: var(--light);
    --color-line: var(--least-dark);
  }
  
  .dark-theme {
    --color-background: var(--darkest);
    --color-font: var(--white);
    --color-line-list: var(--less-dark);
    --color-line: var(--white);
  }